/* @import ('https://gartnerkvartalet.no/wp-includes/css/dist/block-library/style.min.css?ver=5.4.4'); */
.map-container {
  background-size: cover;
  position: relative;
}

.map-container canvas { position: absolute; }

.map-container img {
  opacity: 0;
  position: absolute;
}

.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 512px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 512px 512px;
}

.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.container {
  position: relative;
}

.tooltip {
  position: absolute;
  color: #fff;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
}

.bgImage{
  background-image: url(../assets/b8a-f.jpg) !important;
  background-color: blue !important;
}

.container {
  position: relative;
  width: 50%;
  max-width: 500px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  z-index: -1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}


.container .middle {
  opacity: 1;
}


#greenhouse {
  position: relative;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  overflow: hidden;
}
#greenhouse svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#lines {
  z-index: 3;
}
#greenhouse-details {
  display: flex;
  margin-top: 60%;
  flex-wrap: wrap;
  justify-content: center;
}
.narrow-text {
  background-color: #d4ffde;
  padding: 3% 5%;
  margin: 3%;
  flex-basis: 25%;
}
@media only screen and (max-width: 480px) {
  .narrow-text {
    flex-basis: 100%;
  }
}
#moove_gdpr_cookie_modal,
#moove_gdpr_cookie_info_bar,
.gdpr_cookie_settings_shortcode_content {
  font-family: Nunito, sans-serif;
}
#moove_gdpr_save_popup_settings_button {
  background-color: #373737;
  color: #fff;
}
#moove_gdpr_save_popup_settings_button:hover {
  background-color: #000;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton,
#moove_gdpr_cookie_info_bar
  .moove-gdpr-info-bar-container
  .moove-gdpr-info-bar-content
  button.mgbutton {
  background-color: #0c4da2;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-footer-content
  .moove-gdpr-button-holder
  a.mgbutton,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-footer-content
  .moove-gdpr-button-holder
  button.mgbutton,
.gdpr_cookie_settings_shortcode_content .gdpr-shr-button.button-green {
  background-color: #0c4da2;
  border-color: #0c4da2;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-footer-content
  .moove-gdpr-button-holder
  a.mgbutton:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-footer-content
  .moove-gdpr-button-holder
  button.mgbutton:hover,
.gdpr_cookie_settings_shortcode_content .gdpr-shr-button.button-green:hover {
  background-color: #fff;
  color: #0c4da2;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #0c4da2;
  border: 1px solid #0c4da2;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover {
  color: #0c4da2;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li.menu-item-selected
  a
  span.gdpr-icon,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li.menu-item-selected
  button
  span.gdpr-icon {
  color: inherit;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li:hover
  a,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li:hover
  button {
  color: #000;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  a
  span.gdpr-icon,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button
  span.gdpr-icon {
  color: inherit;
}
#moove_gdpr_cookie_modal .gdpr-acc-link {
  line-height: 0;
  font-size: 0;
  color: transparent;
  position: absolute;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close:hover i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  a,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button
  i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  a
  i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-tab-main
  .moove-gdpr-tab-main-content
  a:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
  .moove-gdpr-info-bar-container
  .moove-gdpr-info-bar-content
  a.mgbutton:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
  .moove-gdpr-info-bar-container
  .moove-gdpr-info-bar-content
  button.mgbutton:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
  .moove-gdpr-info-bar-container
  .moove-gdpr-info-bar-content
  a:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
  .moove-gdpr-info-bar-container
  .moove-gdpr-info-bar-content
  button:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
  .moove-gdpr-info-bar-container
  .moove-gdpr-info-bar-content
  span.change-settings-button:hover {
  color: #0c4da2;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li.menu-item-selected
  a,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li.menu-item-selected
  button {
  color: #000;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li.menu-item-selected
  a
  i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li.menu-item-selected
  button
  i {
  color: #000;
}
#moove_gdpr_cookie_modal.lity-hide {
  display: none;
}
body > header > nav .menu-main-menu-container > ul > li {
  width: 16.666666666667%;
}
#apartment-splash {
  position: relative;
  background: #ecf0ed;
}
#apartment-splash > .inner {
  width: 67.8%;
  min-height: 1px;
  float: left;
}

#apartment-splash .wrap > .inner .building {
  position: relative;
  width: 100%;
  padding-bottom: 77.98742138%;
  overflow: hidden;
}

#apartment-splash .wrap > .inner .building #building-7-front {
  background-image: url(../assets/b8a-f.jpg) !important;
  background-size: 100% 100% !important;
}
#apartment-splash .wrap > .inner .building #building-7a-front {
  background-image: url(../assets/b8a-f.jpg) !important;
  background-size: 100% 100%;
}
#apartment-splash .wrap > .inner .building .front,
#apartment-splash .wrap > .inner .building .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: opacity 400ms;
}
#apartment-splash .wrap > .inner .building svg .flat.attached[data-active],
#apartment-splash .wrap > .inner .building svg .flat.attached[data-active] > * {
  fill: rgba(55, 96, 73, 0.7);
}
#apartment-splash .wrap > .inner .building svg .flat.attached.unavailable,
#apartment-splash .wrap > .inner .building svg .flat.attached.unavailable > * {
  fill: rgba(237, 93, 37, 0.6);
}
.flat.attached.unavailable:hover {
  fill:black;
}
#apartment-splash .wrap > .inner .building svg .flat.attached,
#apartment-splash .wrap > .inner .building svg .flat.attached > * {
  pointer-events: all;
  cursor: pointer;
}
#apartment-splash .wrap > .inner .building svg .flat,
#apartment-splash .wrap > .inner .building svg .flat > * {
  pointer-events: none;
  fill: rgba(55, 96, 73, 0.9);
  transition: fill 250ms;
}
svg, img, canvas {
  display: block;
}