.container {
  /*background: url(http://i.imgur.com/b1K76Pf.jpg) no-repeat;*/
  /*background-size: contain;*/
  max-width: 960px;
  /*height: 565px;*/
  margin: auto;
  position: absolute;
}

/* ---------------------- */

.container > img.bg_image {
    width: 100%;
    height: auto;
}

.main-roof {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    mix-blend-mode: multiply; /* nice effect */

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
svg {
    /*height: 565px;*/
    width: 100%;
    height: 103.5%;
}
.floatTL{
    position:absolute;
       top:0px;
       left:0px;
   }