html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
.container {
  /*background: url(http://i.imgur.com/b1K76Pf.jpg) no-repeat;*/
  /*background-size: contain;*/
  max-width: 960px;
  /*height: 565px;*/
  margin: auto;
  position: absolute;
}

/* ---------------------- */

.container > img.bg_image {
    width: 100%;
    height: auto;
}

.main-roof {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    mix-blend-mode: multiply; /* nice effect */

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
svg {
    /*height: 565px;*/
    width: 100%;
    height: 99.0%;
}

.colorHover{
  fill: #93e825;
  
  text-align: center;
  -webkit-animation-fill-mode: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  fill: red;
  cursor: pointer;
}
/* 
@-webkit-keyframes colorHover {
  from {
    text-shadow: 0 0 10px #93e825, 0 0 20px #fff, 0 0 30px #93e825, 0 0 40px #e60073, 0 0 50px #93e825, 0 0 60px #93e825, 0 0 70px #93e825;
  }
  
  to {
    text-shadow: 0 0 20px #fff825, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */

.colorHover:hover{
  fill:black;

  }  
  .node-vertical__inactive {
    filter:url(#shadow);
  }
  
  .node-vertical__hexagon {
    fill: #5091b9;
    stroke: #4387b0;
    stroke-width: 2;
  }
.classUnsold{
  fill: hsl(51, 100%, 50%);
  /* fill: rgba(254, 250, 212, 0); */
  /* in:'SourceGraphic'; */
  /* fill: transparent; */
  cursor: pointer;
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
   
}
.classUnsold:hover{fill:black;}